*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.todo-container{
    width: 90%;
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    text-align: center;
}

.upcoming-completed{
    width: 20%;
    background: navy;
    height: 100%;
    padding: 30px 10px;
}

.today{
    padding: 30px 10px;
    width: 40%;
    border: 2px red solid;
    height: 100%;
}

.input-container{
    position: relative;
    width: 300px;
    margin: 30px auto;
}

.input-text {
  width: 100%;
  height: 42px;
  padding: 2px 5px ; 
}

.input-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.input-button-plus-img {
  width: 18px;
  height: 18px;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
    padding: 25px 8px;
    box-shadow: 15px 15px 12px black;
    position: relative;
    height: auto;
}

.todo-button{
    border: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

/*Color Picker*/


.color-picker{
    margin: 50px auto;
    width: 450px;
    position: relative;
    
}
.color-input{
    
    width: 100%;
    height: 100px;
}

.color-button{
    position: absolute;
    right: 8px;
    bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background: white;
}