*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.todo-container{
    width: 60%;
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    text-align: center;
    box-shadow: 8px -5px 8px gray;
}

.upcoming-completed{
    width: 30%;
    background: navy;
    height: 100%;
    padding: 30px 10px;
}

.upcoming-completed h2{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

.smart{
    color: white;
}

.tasks{
    background: rgba(14, 21, 82, 0.2);
    box-shadow: 5px 5px 5px rgba(110, 111, 121, 0.5);
    height: 50%;
    padding: 30px 0;
    color: white;
    margin: 15px auto;
}

.tasks-div{
    margin-top: 10px;
    border-bottom: 1px white solid;
    padding: 8px 0;
}

.tasks-div:hover{
    box-shadow: 5px 5px 5px gray;
}

.tasks-div:active{
    opacity: 0.4;
}

.tasks-div h3{
    cursor: pointer;
}

.today{
    padding: 30px 10px;
    width: 90%;
    height: 100%;
    overflow: scroll;
}

.input-container{
    position: relative;
    width: 300px;
    margin: 30px auto;
}

.input-text {
  width: 100%;
  height: 42px;
  padding: 2px 5px ; 
}

.input-text:focus{
    border: navy;
}

.input-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.input-button:active{
    opacity: 0.5;
}

.input-button-plus-img {
  width: 18px;
  height: 18px;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
    padding: 30px 15px;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.5);
    position: relative;
    height: auto;
}

.todo-radio{
    accent-color: navy;
    transform: scale(1.2);
    cursor: pointer;
}
.todo-button{
    border: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.todo-button:active{
    opacity: 0.5;
}

.todo-button-delete-img{
    width: 18px;
    height: 18px;
}

.todo-edit{
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: none;
    background: white;
    cursor: pointer;
}

.todo-edit:active{
    opacity: 0.5;
}

.todo-butto-edit-img{
    width: 18px;
    height: 18px;
}

@media(max-width:800px){
    .todo-container{
        flex-direction: column;
        width: 90%;
        height: 100vh;
        margin: 2vh auto;
        padding: 20px 0;
    }
    .tasks{
        display: flex;
        justify-content: space-between;
        padding: 2px;      
        border-top: 1px white solid;
        border-bottom: 1px white ridge;  
    }

    .tasks-div h3{
        padding: 0;
        
    }

    .tasks-div{
        border-bottom: none
    }
    .todo{
        width: 90%;
    }
    .upcoming-completed{
        width: 90%;
        height: auto;
        padding: 10px;
    }
    .today{
        order: -1;
        width: 90%;
    }
    .input-container{
        width: 90%;
    }
}
/*Color Picker*/


.color-picker{
    margin: 50px auto;
    width: 450px;
    position: relative;
    
}
.color-input{
    
    width: 100%;
    height: 100px;
}

.color-button{
    position: absolute;
    right: 8px;
    bottom: 10px;
    padding: 5px;
    cursor: pointer;
    background: white;
}